{% extends 'base.html' %}
{% block content %}

<form action="{{ url_for('lists.show', user_id=user.id, list_id=found_list.id) }}?_method=PATCH" method="POST">
	{{ form.csrf_token }}
	<p>
		{{ form.name(placeholder="Name of List")}}
		<span>
			{% if form.name.errors %}
				{% for error in form.name.errors %}
					{{ error }}
				{% endfor %}
			{% endif %}
		</span>
	</p>
	<button type="submit">Edit this list!</button>
</form>

<form action="{{ url_for('lists.show', user_id=user.id, list_id=found_list.id) }}?_method=DELETE" method="POST">
	{{ delete_form.hidden_tag() }}
	<button type="submit">DELETE THIS LIST!</button>
</form>

{% endblock %}