{% extends 'base.html' %}

{% block content %}

<h3>Your Dashboard</h3>

<h5>Your scores:</h5>
<div class="row progress-circles">
	<div class="col-md-6">
		<h4>Productivity: 0%</h4>
		<!-- <div class="productivity-circle"></div> -->
		<div class="progress">
		  <div class="progress-bar" role="progressbar" aria-valuenow="70"
		  aria-valuemin="0" aria-valuemax="100" style="width:70%">
		  	70% Productive
		    <span class="sr-only">70% Productive</span>
		  </div>
		</div>
	</div>
	<div class="col-md-6">
		<h4>Punctuality: 0%</h4>
		<div class="progress">
		  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
		  aria-valuemin="0" aria-valuemax="100" style="width:30%">
		  	30% Punctual
		    <span class="sr-only">30% Punctual</span>
		  </div>
		</div>
		<!-- <div class="punctuality-circle"></div> -->
	</div>
</div>
<h5>Upcoming due dates:</h5>
<div class="row upcoming-duedates">
	<div class="col-md-12">
		<table class="table table-hover">
		    <thead>
		      <tr>
		        <th>Due Date</th>
		        <th>Description</th>
		        <th>List</th>
		        <th>View</th>
		      </tr>
		    </thead>
		    <tbody>
		    {% for list in user.lists %}
		    	{% for item in list.todo_items%}
		    		{% if item.due_date != None %}
		    			{% if item.is_overdue() %}
					      <tr>
					        <td><span class="glyphicon glyphicon-alert"></span> {{ item.due_date }}</td>
					        <!-- time.strftime("%x", time.gmtime(variable name)) -->
					        <td>{{ item.description }}</td>
					        <td>{{ list.name }}</td>
					        <td><a href="{{url_for('todoitems.show', user_id=user.id, list_id=list.id, id=item.id)}}">View</a></td>
					      </tr>
						{% endif %}		    		
					{% endif %}		    		
			    {% endfor %}
		    {% endfor %}

		      <tr>
		        <td>9/8/2017</td>
		        <td>Buy more cat litter</td>
		        <td>Chores</td>
		        <td>View</td>
		      </tr>
		      <tr>
		        <td>9/9/2017</td>
		        <td>Build Hack-Or-Snooze</td>
		        <td>Stuff that should've been completed years ago</td>
		        <td>View</td>
		      </tr>
		    </tbody>
		  </table>
	</div>
</div>
<h5>Your lists:</h5>
<div class="row all-lists">
	{% for list in user.lists %}
	<div class="col-md-4">
		<h4>{{ list.name }}</h4>
		<p><a href="{{ url_for('lists.show', user_id=user.id, id=list.id) }}">View</a> / <a href="{{ url_for('lists.edit', user_id=user.id, id=list.id) }}">Edit</a></p>
		<ul>
			{% for item in list.todo_items %}
				<li>{{ item.description }}</li>
			{% endfor %}
		</ul>
	</div>
	{% endfor %}	
</div>
<a href="{{ url_for('lists.new', user_id=user.id) }}" class="add-list">Add another list</a>

{% endblock %}