<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PRODUCTIVITY APP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="wrapper">
		<nav id="sidebar">
			<div class="sidebar-header">
				<h3>Menu Options</h3>
			</div>
			<ul class="list-unstyled components">
				<li class="active sidebar-link"><a href="#">Home</a></li>
				<li class="sidebar-link"><a href="#">Lists</a></li>
				<li class="sidebar-link"><a href="#">Blacklisted Sites</a></li>
				<li class="sidebar-link"><a href="{{url_for('users.edit', id=current_user.id)}}">Account Settings</a></li>
				<li class="sidebar-link"><a href="{{url_for('users.logout')}}">Log Out</a></li>
			</ul>
		</nav>
		<div id="content">
			{% with messages = get_flashed_messages() %}
			  {% if messages %}
			    {% for message in messages %}
			    <div class="alert alert-info">
					{{ message }}
				</div>
			    {% endfor %}
			  {% endif %}
			{% endwith %}

			{% block content %}
			{% endblock %}
		</div>
	</div>
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>