<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Productivity</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landingpage.css') }}">
</head>
<body id="lp-body">
	<div class="topnav">
		<nav>
			<ul class="nav-links">
				<li class="nav-item branding">Productivity<li>
				<li class="nav-item">Login<li>
				<li class="nav-item">Signup<li>
			</ul>
		</nav>
	</div>
	<div class="mainsplash">
		<div class="signup-button"></div>
	</div>
	<h3>Learn more</h3>
	<div class="buckets">

		<div class="bucket">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, omnis fuga necessitatibus aliquam laudantium repellendus dolor corrupti quisquam dicta modi reiciendis placeat quaerat expedita deserunt mollitia consectetur quibusdam. Explicabo, eveniet?</div>
		<div class="bucket">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, omnis fuga necessitatibus aliquam laudantium repellendus dolor corrupti quisquam dicta modi reiciendis placeat quaerat expedita deserunt mollitia consectetur quibusdam. Explicabo, eveniet?</div>
		<div class="bucket">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, omnis fuga necessitatibus aliquam laudantium repellendus dolor corrupti quisquam dicta modi reiciendis placeat quaerat expedita deserunt mollitia consectetur quibusdam. Explicabo, eveniet?</div>
	</div>
	<div class="secondsplash">
</body>
</html>