{% extends 'base.html' %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ url_for('lists.index', user_id=user.id) }}">Home</a></li>
  <li><a href="{{ url_for('lists.show', user_id=user.id, id=found_list.id)}}">{{ found_list.name}}</a></li>
  <li class="active">{{ item.description }}</li>
</ol>

<h3>{{ found_list.name }}</h3>
<br>
<br>ID: {{ item.id }}
<br>{{ item.description }}
<br>Due: {{item.due_date}}
<br><a href="{{url_for('todoitems.edit', user_id=user.id, list_id=found_list.id, id=item.id)}}">Edit</a>

<br>
<a href="{{ url_for('todoitems.index', user_id=user.id, list_id=found_list.id) }}">Go back to all items in {{ found_list.name }}</a>
{% endblock %}