.mainsplash {
	height: 650px;
	background-image: url("../assets/tablehands.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 300px;
}

.buckets {
	height: auto;
	background-color: #ffffff;
	opacity: 60%;
	padding-bottom: 4em;
	padding-top: 3em;
}

.splash-headline {
	font-size: 2em;
	color: #ffffff;
	font-family: 'Cinzel Decorative', cursive;
}

.secondsplash {
	height: 700px;
	background-image: url("../assets/workspace.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.projectName > a {
	color: #fff;
	font-family: 'Cinzel Decorative', cursive;
}

.projectName > a:hover {
	text-decoration: none;
}

.glyphicon-menu-down {
	font-size: 2em;
}

.glyphicon-pencil, .glyphicon-dashboard, .glyphicon-calendar, .glyphicon-ban-circle {
	font-size: 4em;
}

.content {
	text-align: center;
}

.signup-button {
	transition: background-color 0.5s ease;
	background-color: #A34241;
	font-size: 1em;
	padding: 1em 1em;
	color: #ffffff;
}

.signup-button:hover {
	background-color: #CD730F;
	color: #ffffff;
}